<!DOCTYPE html>
<html ng-app="angularSPA">
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/angular/spa/core")
    <base href="/">
</head>
<body>
    <div ng-include="'/App/Views/shell.html'">

    </div>
</body>
</html>